<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/views/login/css/style.css">
</head>
<body>
<div class="container">
    <div class="image-container">
        <img src="/views/login/image/login.png" alt="Login Image">
    </div>
    <div class="login-container">
        <div class="login-content">
            <h2>당당하개</h2>
            <h2>로그인</h2>
            <a href="/oauth2/authorization/google" class="btn btn-google">구글로 로그인</a>
            <a href="link-to-naver-oauth" class="btn btn-naver">네이버로 로그인</a>
            <a href="link-to-kakao-oauth" class="btn btn-kakao">카카오로 로그인</a>
        </div>
    </div>
</div>
</body>
</html>
